@import 'primereact/resources/themes/fluent-light/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    background-color: rgb(43,45,44);
    background-image: url('/logo-go-exper.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

body {
    margin: 0;
}

label {
    padding-top: 2px;
}

.header {
    background-color: #dcbb5b;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 60px;
    width: 100vw;
}

/* Page content */
.content {
    padding-top: 50px;
}
  
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 102px;
}

.footer {
    background-color: #dcbb5b;
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    bottom: 0;
    height: 60px;
    width: 100vw;
}

.header li {
    list-style: none;
}

.header a {
    color: #fff;}

.logo-global {
    display: block;
    height: 100%;
    width: 40px;
}

.logo-global img {
    display: block;
    height: 90%;
    margin: auto;
    padding-left: 13px;
    padding-block: 14px;
}

.safe-margins {
    padding-left: 10px;
    padding-right: 10px;
}
